<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <meta name="description" content="Free cyclone's alerts">
    <meta name="author" content="Cyclon">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/fontawesome-all.css" rel="stylesheet">
    <link href="/css/swiper.css" rel="stylesheet">
	<link href="/css/magnific-popup.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/alert.css" rel="stylesheet">

    <link rel="icon" href="/images/favicon.ico">
    
</head>
<body data-spy="scroll" data-target=".fixed-top">

    <%- include("./components/loader") %>

    <style>
        .twitter-timeline {
            width: 100vw !important;
        }
    </style>

    <div>
        <center>
            <a class="twitter-timeline" data-lang="<%= assets.locale %>" data-theme="light" href="https://twitter.com/HyperSoftCode1?ref_src=twsrc%5Etfw">
                Tweets by HyperSoftCode1
            </a> 
        </center>
    </div>
    
</body>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/popper.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/lib/jquery.easing.min.js"></script>
<script src="/js/lib/swiper.min.js"></script>
<script src="/js/lib/jquery.magnific-popup.js"></script>
<script src="/js/lib/scripts.js"></script>

</html>