<footer>
    <div class="container">
        <div class="row">

            <div class="col-10">
                <span>Cyclon</span>
                <a href="">Política de Privacidad</a>
            </div>

            <div class="col-1">
                <a href="">@NOAA</a>
                <a href="">@Windy</a>
                <a href="">@Leaflet</a>
            </div>

        </div>
    </div>
</footer>