    <div style="width: 60rem; height: 15%;" class="mx-auto">
        <a class="twitter-timeline" data-lang="es" data-theme="dark" href="https://twitter.com/HyperSoftCode1?ref_src=twsrc%5Etfw">
            Tweets by HyperSoftCode1
        </a> 
    </div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>