<div id="preview" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2><%= (assets.tweets).toUpperCase() %></h2>
                <div class="p-heading p-large"><%= assets.tweets_description %></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <center>
                    <div class="mx-auto">
                        <a class="twitter-timeline" height="500" data-lang="<%= assets.locale %>" data-theme="light" href="https://twitter.com/HyperSoftCode1?ref_src=twsrc%5Etfw">
                            Tweets by HyperSoftCode1
                        </a> 
                    </div>
                </center>
            </div>
        </div>
    </div>
</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>